@{
    ViewData["Title"] = "Beatles";
}
<h1>@ViewData["Title"]</h1>

<div>
<img src="~/img/beatles.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"  alt="" > <br /><br/>
 <H3>"Hey Jude"</H3>

        <br/>
        <div id="bt-lyrics" style="color:red;text-align: center;border: 3px solid green;">
        </div>
</div>