@{
    ViewData["Title"] = "BillyJoel";
}
<h1>@ViewData["Title"]</h1>

<div>
   <img src="~/img/Billyjoel.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" alt="" > <br />
    <br/> <b>"We didn't start the fire"</b><br/>


    <div id="bj-lyrics" style="color:red;text-align: center;border: 3px solid green;">
    </div>
</div>