@{
    ViewData["Title"] = "When chai met tost";
}
<h1>@ViewData["Title"]</h1>

<div>
    <img src="~/img/wcmt.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"  alt="" > <br />
    <h3>Khoj</h3>
    <br/>
    <div id="wc-lyrics" style="color:red;text-align: center;border: 3px solid green;">
    </div> 
</div>